@font-face {
  font-family: "TTCommons";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/TTCommons/TTCommonsProExp-Blk.eot");
  src: url("../fonts/TTCommons/TTCommonsProExp-Blk.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons/TTCommonsProExp-Blk.woff") format("woff"), url("../fonts/TTCommons/TTCommonsProExp-Blk.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #252129; }

html, body {
  overflow-x: hidden;
  height: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.main {
  background: #fff;
  border-radius: 20px 20px 0 0; }

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.container {
  max-width: 1244px;
  padding: 0 12px; }

.row {
  margin: 0 -12px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0 12px; }

.btn-burger {
  display: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 0 0 0 12px;
  background: url("../img/burger.svg") no-repeat center;
    background-size: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }

.btn-burger.click {
  background: url("../img/close.svg") no-repeat center;
    background-size: 100%; }

.dropdown-menu {
  margin: 12px 0 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 1px #F4F5F6, 0px 16px 32px rgba(37, 33, 41, 0.08), 0px 0px 12px rgba(37, 33, 41, 0.04);
          box-shadow: 0px 0px 0px 1px #F4F5F6, 0px 16px 32px rgba(37, 33, 41, 0.08), 0px 0px 12px rgba(37, 33, 41, 0.04);
  border-radius: 16px;
  border: none;
  padding: 4px;
  min-width: 260px;
  left: auto !important;
  right: 0;
  -webkit-transform: translate3d(0, 40px, 0px) !important;
          transform: translate3d(0, 40px, 0px) !important; }

.dropdown-item {
  padding: 12px 16px;
  letter-spacing: -0.24px;
  font-size: 18px;
  color: #252129;
  border-radius: 12px; }
  .dropdown-item:hover {
    background: #EBEBEB; }

.color-grey {
  color: #A2A2A3; }

a.color-grey:hover {
  color: #FF5533; }

h2 {
  font-size: 26px;
  font-weight: 900;
  width: 100%;
  letter-spacing: -0.52px;
  line-height: 36px;
  font-family: 'TTCommons', sans-serif;
  margin: 0 0 20px; }

header {
  background: #f6f6f6;
  padding: 24px 0;
  position: relative; }

.avatar-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 40px;
  min-width: 40px;
  height: 40px;
  overflow: hidden; }
  .avatar-user img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.dropdown-toggle-my:after {
  display: none; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  letter-spacing: -0.12px;
  font-size: 16px; }
  .menu li {
    margin: 0 16px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li > a {
      padding: 8px 20px;
      color: #252129;
      border-radius: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .menu li > a:hover {
        background: #EBEBEB; }

.menu-links__icon {
  margin: 0 0 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 124px;
  width: 100%; }

.notification-links {
  margin: 0 12px 0 0;
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.dropdown-cabinet .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dropdown-cabinet .dropdown-menu {
  left: auto !important;
  right: 0;
  -webkit-transform: translate3d(0, 40px, 0px) !important;
          transform: translate3d(0, 40px, 0px) !important; }

.dropdown-item__icon {
  margin: 0 10px 0 0;
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sidebar {
  padding: 36px 0 0; }

.sidebar-box {
  padding: 12px 0;
  border-top: 1px solid #EBEBEB; }
  .sidebar-box:first-child {
    padding-top: 0;
    border: none; }
  .sidebar-box .menu {
    letter-spacing: -0.24px;
    font-size: 18px;
    margin: 0 0 0 -12px; }
    .sidebar-box .menu li {
      width: 100%;
      margin: 0; }
    .sidebar-box .menu a {
      padding: 12px 16px; }

.identification {
  padding: 12px 0;
  width: 100%;
  color: #DCDBDD;
  letter-spacing: -0.12px; }

.identification-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 6px; }

.identification-time {
  margin: 0 0 0 8px;
  background: #FBFBFB;
  border-radius: 24px;
  padding: 0 10px;
  color: #276460;
  font-size: 10px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

.identification-status {
  letter-spacing: -0.44px;
  font-size: 24px;
  font-weight: 600;
  color: #DCDBDD; }

.exchange-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  margin: 0 0 0 -16px;
  color: #252129;
  font-size: 18px;
  font-weight: 600; }
  .exchange-links__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24px;
    min-width: 24px;
    margin: 0 8px 0 0; }
  .exchange-links:hover {
    background: #F7F7F7;
    color: #FF5533; }

.total-balance {
  margin: 0 0 12px; }
  .total-balance p {
    letter-spacing: -0.12px; }
  .total-balance__val {
    margin: 6px 0 0;
    font-size: 36px;
    letter-spacing: -0.72px;
    line-height: 44px; }
    .total-balance__val strong {
      font-weight: 600; }

.sidebar-footer {
  color: #A2A2A3;
  letter-spacing: -0.12px; }

.balance-of-currency {
  width: 100%;
  padding: 12px 16px;
  margin: 0 0 0 -16px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  letter-spacing: -0.24px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .balance-of-currency span {
    color: #666666;
    font-size: 16px;
    letter-spacing: -0.12px; }
  .balance-of-currency .box-right {
    text-align: right;
    margin: 0 0 0 auto; }
  .balance-of-currency:hover {
    background: #F7F7F7; }
    .balance-of-currency:hover .dropdown-check {
      display: block; }

.dropdown-check.show > .dropdown-menu {
  display: block;
  -webkit-transform: none !important;
          transform: none !important;
  margin: 12px 0 0; }

.number-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #666666;
  letter-spacing: -0.12px; }

.dropdown-check {
  margin: 0 -8px 0 8px;
  width: 28px;
  height: 28px;
  display: none; }
  .dropdown-check .dropdown-menu {
    -webkit-transform: none !important;
            transform: none !important;
    right: 0 !important;
    margin: 40px 0 0;
    top: 100% !important; }

.btn-settings {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-settings:hover {
    background: #EBEBEB; }

.links-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 5px;
  width: 16px;
  height: 16px; }

.main-content {
  padding: 36px 0 0 20px; }
  .main-content h2 {
    padding: 0 0 0 16px; }

.main-item {
  padding: 32px 0;
  border-bottom: 1px solid #EBEBEB; }
  .main-item:first-child {
    padding-top: 0; }

.home-slider {
  margin: 0 8px; }
  .home-slider .slick-slide {
    margin: 0 16px 0 0; }
    .home-slider .slick-slide:first-child {
      margin: 0 16px;
      padding: 0 0 0 16px; }
  .home-slider .slick-arrow {
    top: calc(50% - 16px); }

.home-slider__item {
  width: 96px;
  height: 140px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px; }
  .home-slider__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.home-slider__item-view {
  position: relative;
  margin: 0 16px 0 0; }
  .home-slider__item-view:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 1px;
    height: calc(100% - 16px);
    background: #EBEBEB; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 36px;
  height: 36px;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04), 0px 0px 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04), 0px 0px 6px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  background: #fff url("../img/arrow-right.svg") no-repeat center;
    background-size: 16px;
  border: none;
    border-radius: 50%; }

.slick-next {
  right: -10px; }

.slick-prev {
  -webkit-transform: translate(0, -50%) scale(-1, 1);
          transform: translate(0, -50%) scale(-1, 1);
  left: -17px; }

.slick-disabled {
  opacity: 0; }

.translation-item {
  padding: 32px 0 0; }
  .translation-item h2 {
    margin: 0; }

.translation-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.translation-slider {
  width: calc(100% - 312px); }
  .translation-slider .slick-slide {
    padding: 20px 16px 32px 0; }
    .translation-slider .slick-slide:first-child {
      padding: 20px 16px 32px; }

.translation-slider__box-wrap {
  width: 180px;
  height: 140px;
  -webkit-box-shadow: 0px 0px 0px 1px #F4F5F6, 0px 8px 16px rgba(37, 33, 41, 0.04), 0px 0px 6px rgba(37, 33, 41, 0.04);
          box-shadow: 0px 0px 0px 1px #F4F5F6, 0px 8px 16px rgba(37, 33, 41, 0.04), 0px 0px 6px rgba(37, 33, 41, 0.04);
  border-radius: 16px;
  background: #fff;
  padding: 12px 11px;
  letter-spacing: -0.24px;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }
  .translation-slider__box-wrap p {
    max-width: 120px; }
  .translation-slider__box-wrap:hover {
    -webkit-box-shadow: 0px 16px 32px rgba(37, 33, 41, 0.08), 0px 0px 12px rgba(37, 33, 41, 0.04);
            box-shadow: 0px 16px 32px rgba(37, 33, 41, 0.08), 0px 0px 12px rgba(37, 33, 41, 0.04); }

.translation-slider__box-col {
  padding: 0 16px 0 16px;
  position: relative; }
  .translation-slider__box-col:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 1px;
    height: 108px;
    background: #EBEBEB; }

.translation-slider__box-wrap-icon {
  background: #F7F7F7;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 0 12px;
  position: relative;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.translation-slider__box-row {
  background: #fff;
  width: 280px;
  height: 64px;
  -webkit-box-shadow: 0 0 0 1px #F4F5F6, 0 8px 16px rgba(37, 33, 41, 0.04), 0 0 6px rgba(37, 33, 41, 0.04);
          box-shadow: 0 0 0 1px #F4F5F6, 0 8px 16px rgba(37, 33, 41, 0.04), 0 0 6px rgba(37, 33, 41, 0.04);
  border-radius: 16px;
  margin: 20px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  letter-spacing: -0.24px;
  font-size: 18px;
  font-weight: 600;
  color: #252129; }
  .translation-slider__box-row:hover {
    color: #252129;
    -webkit-box-shadow: 0px 16px 32px rgba(37, 33, 41, 0.08), 0px 0px 12px rgba(37, 33, 41, 0.04);
            box-shadow: 0px 16px 32px rgba(37, 33, 41, 0.08), 0px 0px 12px rgba(37, 33, 41, 0.04); }
  .translation-slider__box-row:last-child {
    margin-top: 0; }

.translation-slider__box-icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 40px;
  margin: 0 16px 0 0;
  background: #FBFBFB;
  border-radius: 50%; }

.history-item {
  border: none; }

.history-item-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px 16px;
  font-size: 16px;
  letter-spacing: -0.12px; }

.history-item__val {
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto; }
  .history-item__val p {
    margin: 0 10px 0 0; }
    .history-item__val p:last-child {
      margin: 0; }

.history-item__month {
  font-weight: 600; }

.history-item-date {
  padding: 12px 16px;
  color: #666666;
  letter-spacing: -0.12px; }

.history-item-row__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px 0 0;
  min-width: 56px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #FBFBFB; }
  .history-item-row__icon img {
    width: 100%; }

.pay-icon {
  padding: 11px; }

.history-item-row__name {
  margin: 0 auto 0 0; }
  .history-item-row__name h3 {
    font-size: 18px;
    letter-spacing: -0.24px; }

.subtitle {
  color: #666666;
  letter-spacing: -0.12px; }

.history-item-row__val {
  text-align: right;
  letter-spacing: -0.12px;
  font-size: 16px; }

.commission {
  color: #666666;
  font-size: 16px; }

.sum-transfer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  letter-spacing: -0.44px;
  font-size: 24px; }

.time-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 6px; }

.history-item-wrapper {
  width: 100%;
  margin: 20px 0;
  padding: 0 0 20px;
  position: relative; }
  .history-item-wrapper:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: calc(100% - 16px);
    background: #EBEBEB; }

.history-item-row__footer {
  width: 100%;
  padding: 0 0 0 72px; }

.offer-history {
  letter-spacing: -0.24px;
  font-size: 18px;
  border-radius: 8px 22px 22px 22px;
  background: #EBEBEB;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 12px; }

.sum-transfer-refill {
  color: #3AC270; }

.mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  overflow-y: auto;
  z-index: 5;
  background: #fff;
  padding: 25px 0 0;
  border-top: 1px solid #EBEBEB; }
  .mobile-menu .sidebar-footer {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 24px 42px;
    font-size: 16px; }
  .mobile-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    letter-spacing: -0.44px;
    font-size: 22px;
    line-height: 32px; }
    .mobile-menu .menu li {
      margin: 0;
      width: 100%; }
      .mobile-menu .menu li a {
        border-radius: 0;
        padding: 20px 24px; }
    .mobile-menu .menu .menu-links__icon {
      margin: 0 0 0 auto;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .mobile-menu .menu .dropdown-toggle.show .menu-links__icon {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
  .mobile-menu .dropdown-menu {
    position: relative !important;
    top: 0;
    right: 0;
    padding: 0;
    -webkit-transform: none !important;
            transform: none !important;
    margin: 0 0 0 25px;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    border-left: 1px solid #EBEBEB; }
    .mobile-menu .dropdown-menu .dropdown-item {
      padding: 20px 16px;
      color: #666666;
      font-size: 22px; }

.mobile-menu-item {
  max-width: 768px;
  width: 100%;
  margin: 0 auto 24px;
  padding: 24px 0 0;
  border-top: 1px solid #EBEBEB; }
  .mobile-menu-item:first-child {
    border: none;
    padding-top: 0; }

.account-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 24px;
  letter-spacing: -0.44px;
  font-size: 24px;
  font-weight: 600; }
  .account-profile .avatar-user {
    margin: 0 16px 0 0;
    width: 56px;
    height: 56px;
    min-width: 56px; }

.cabinet-menu .dropdown-item {
  border-radius: 0;
  padding: 20px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  line-height: 32px; }

.currency-icon {
  color: #666666; }

.slick-dots {
  position: relative;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 12px 0 0; }
  .slick-dots li {
    width: 4px;
    height: 4px;
    margin: 0 4px 0 0;
    background: #EBEBEB;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    background: #FF5533;
    width: 12px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-item {
    padding: 24px 0; }
  .total-balance p {
    color: #A2A2A3;
    font-size: 16px; }
  .total-balance__val {
    font-size: 32px;
    font-weight: 600;
    margin: 4px 0 0;
    line-height: 40px;
    letter-spacing: -0.72px; }
    .total-balance__val .currency-icon {
      font-weight: normal; }
  .balance-of-currency {
    width: 292px;
    background: #F7F7F7;
    border-radius: 8px;
    margin: 0 12px 0 0;
    padding: 14px 16px; }
  .main-content {
    padding: 24px 0 0 24px; }
    .main-content h2 {
      padding: 0; }
  header {
    padding: 16px 12px; }
  .translation-slider__box-col {
    padding-left: 0; }
  .translation-slider__box-row {
    font-size: 16px;
    padding: 12px;
    height: 56px;
    margin: 16px 0 12px; }
  .translation-slider__box-icon {
    width: 32px;
    height: 32px;
    min-width: 32px;
    margin: 0 12px 0 0; }
  .translation-slider__box-wrap {
    height: 124px;
    margin: 16px 0 20px 16px; }
  .translation-slider__box-wrap-icon {
    width: 40px;
    height: 40px; }
  .main .container {
    padding: 0; }
  .main .row {
    margin: 0; }
  .main .col, .main .col-1, .main .col-10, .main .col-11, .main .col-12, .main .col-2, .main .col-3, .main .col-4, .main .col-5, .main .col-6, .main .col-7, .main .col-8, .main .col-9, .main .col-auto, .main .col-lg, .main .col-lg-1, .main .col-lg-10, .main .col-lg-11, .main .col-lg-12, .main .col-lg-2, .main .col-lg-3, .main .col-lg-4, .main .col-lg-5, .main .col-lg-6, .main .col-lg-7, .main .col-lg-8, .main .col-lg-9, .main .col-lg-auto, .main .col-md, .main .col-md-1, .main .col-md-10, .main .col-md-11, .main .col-md-12, .main .col-md-2, .main .col-md-3, .main .col-md-4, .main .col-md-5, .main .col-md-6, .main .col-md-7, .main .col-md-8, .main .col-md-9, .main .col-md-auto, .main .col-sm, .main .col-sm-1, .main .col-sm-10, .main .col-sm-11, .main .col-sm-12, .main .col-sm-2, .main .col-sm-3, .main .col-sm-4, .main .col-sm-5, .main .col-sm-6, .main .col-sm-7, .main .col-sm-8, .main .col-sm-9, .main .col-sm-auto, .main .col-xl, .main .col-xl-1, .main .col-xl-10, .main .col-xl-11, .main .col-xl-12, .main .col-xl-2, .main .col-xl-3, .main .col-xl-4, .main .col-xl-5, .main .col-xl-6, .main .col-xl-7, .main .col-xl-8, .main .col-xl-9, .main .col-xl-auto {
    padding: 0; }
  .history-item-row, .history-item-date {
    padding: 12px 24px 12px 0; }
  .sum-transfer {
    font-size: 22px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 22px;
    line-height: 32px; }
  .menu, .dropdown-cabinet {
    display: none; }
  .logo {
    margin: 0 auto 0 0; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .notification-links {
    margin: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .history-item-row__name h3 {
    font-size: 16px; }
  .history-item-row__val, .commission, .subtitle {
    font-size: 14px; }
  .sum-transfer {
    font-size: 18px; }
  .history-item-row__icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    margin: 0 12px 0 0; }
  .main-content {
    padding: 24px 0 0 16px; }
  .history-item-row, .history-item-date {
    padding: 8px 16px 8px 0; }
  .history-item-row__footer {
    padding: 0 0 0 40px; }
  .offer-history {
    font-size: 16px;
    padding: 10px 12px; }
  .history-item__month, .history-item__val, .history-item-date {
    font-size: 12px;
    letter-spacing: -0.08px; }
  .translation-slider {
    width: 100%; }
  .translation-slider__box-wrap {
    margin: 16px 16px 20px 0;
    font-size: 16px; }
  .translation-slider__box-col {
    padding: 0 16px 0 0;
    width: 100%; }
  .translation-slider__box-row {
    margin: 0 0 12px;
    width: 100%;
    font-size: 14px; }
  .translation-slider__box-col:before {
    display: none;
    width: 100%; }
  .translation-item h2 {
    margin: 0 0 16px; }
  .number-check, .balance-of-currency span {
    font-size: 14px; }
  .total-balance__val {
    font-size: 26px;
    line-height: 36px; }
  .home-slider__item {
    height: 128px;
    margin: 0 12px 0 0; }
  .mobile-menu {
    padding: 16px 0 0; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 520px) {
  .history-item-row__name {
    max-width: 170px; }
  .offer-history {
    margin: 18px 0 0; } }

@media only screen and (max-width: 420px) {
  header {
    padding: 16px 4px; }
  .mobile-menu .menu li a {
    padding: 12px 16px;
    font-size: 16px;
    line-height: normal; }
  .mobile-menu .dropdown-menu {
    margin: 0 0 0 16px; }
    .mobile-menu .dropdown-menu .dropdown-item {
      padding: 12px 16px;
      font-size: 16px; }
  .mobile-menu-item {
    margin: 0;
    padding: 16px 0;
    border: none;
    position: relative; }
    .mobile-menu-item:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      height: 1px;
      width: calc(100% - 32px);
      background: #EBEBEB; }
    .mobile-menu-item:first-child:before {
      display: none; }
  .account-profile {
    padding: 0 16px 12px;
    font-size: 16px; }
    .account-profile .avatar-user {
      width: 40px;
      height: 40px;
      min-width: 40px;
      margin: 0 16px 0 0; }
  .cabinet-menu .dropdown-item {
    padding: 12px 16px;
    font-size: 16px; }
  .mobile-menu .sidebar-footer {
    padding: 8px 16px 24px; } }

@media only screen and (max-width: 370px) {
  .history-item-row__name {
    max-width: 130px; }
    .history-item-row__name h3 {
      font-size: 14px; }
  .history-item-row__val, .commission, .subtitle {
    font-size: 12px; }
  .sum-transfer {
    font-size: 16px; } }

@media (min-width: 768px) {
  .mobile-menu {
    display: none !important; } }
